#  Exploring Ebay Car Sales Data
I will be working with a dataset of used cars in 2015 - 2016 from eBay Kleinanzeigen - a classified section of the German eBay website. 

The goal is to clean and then analyze this dataset. The dataset samples 50,000 data points from the full dataset.  

Column Names and Descriptions: 
*  name - car name
*  seller - private or dealer
*  offerType - type of listing
*  price - price on the ad to sell the car, euro? 
*  abtest - whether the listing is included in an A/B test
*  vehicleType - vehicle type
*  yearOrfRegistration - year the car was first registered
*  gearbox - transmission type
*  powerPS - power of the car in ps
*  model - car model name
*  kilometer - total kilos the car has driven
*  monthOfRegistration - month the car was first registered
*  fuelType - what type of fuel the car uses
*  brand - brand of the car
*  notRepairedDamage - if the car has damage which is not yet repaired
*  dateCreated - when the ebay listing was created
*  nrOfPictures - number of pictures in the ad
*  postalCode - location of the vehicle
*  lastSeenOnline - when the cralwer saw this ad last online

In [92]:
#importing these important libraries
import pandas as pd
import numpy as np

autos=pd.read_csv("autos.csv",encoding="Latin-1")

In [93]:
autos

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,odometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,2004,manuell,158,andere,"150,000km",3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,1997,automatik,286,7er,"150,000km",6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,"$8,990",test,limousine,2009,manuell,102,golf,"70,000km",7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,"$4,350",control,kleinwagen,2007,automatik,71,fortwo,"70,000km",6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÃœV_neu_ist_sehr_gepfleg...,privat,Angebot,"$1,350",test,kombi,2003,manuell,0,focus,"150,000km",7,benzin,ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50
5,2016-03-21 13:47:45,Chrysler_Grand_Voyager_2.8_CRD_Aut.Limited_Sto...,privat,Angebot,"$7,900",test,bus,2006,automatik,150,voyager,"150,000km",4,diesel,chrysler,NaN,2016-03-21 00:00:00,0,22962,2016-04-06 09:45:21
6,2016-03-20 17:55:21,VW_Golf_III_GT_Special_Electronic_Green_Metall...,privat,Angebot,$300,test,limousine,1995,manuell,90,golf,"150,000km",8,benzin,volkswagen,NaN,2016-03-20 00:00:00,0,31535,2016-03-23 02:48:59
7,2016-03-16 18:55:19,Golf_IV_1.9_TDI_90PS,privat,Angebot,"$1,990",control,limousine,1998,manuell,90,golf,"150,000km",12,diesel,volkswagen,nein,2016-03-16 00:00:00,0,53474,2016-04-07 03:17:32
8,2016-03-22 16:51:34,Seat_Arosa,privat,Angebot,$250,test,NaN,2000,manuell,0,arosa,"150,000km",10,NaN,seat,nein,2016-03-22 00:00:00,0,7426,2016-03-26 18:18:10
9,2016-03-16 13:47:02,Renault_Megane_Scenic_1.6e_RT_Klimaanlage,privat,Angebot,$590,control,bus,1997,manuell,90,megane,"150,000km",7,benzin,renault,nein,2016-03-16 00:00:00,0,15749,2016-04-06 10:46:35
10,2016-03-15 01:41:36,VW_Golf_Tuning_in_siber/grau,privat,Angebot,$999,test,NaN,2017,manuell,90,NaN,"150,000km",4,benzin,volkswagen,nein,2016-03-14 00:00:00,0,86157,2016-04-07 03:16:21
11,2016-03-16 18:45:34,Mercedes_A140_Motorschaden,privat,Angebot,$350,control,NaN,2000,NaN,0,NaN,"150,000km",0,benzin,mercedes_benz,NaN,2016-03-16 00:00:00,0,17498,2016-03-16 18:45:34
12,2016-03-31 19:48:22,Smart_smart_fortwo_coupe_softouch_pure_MHD_Pan...,privat,Angebot,"$5,299",control,kleinwagen,2010,automatik,71,fortwo,"50,000km",9,benzin,smart,nein,2016-03-31 00:00:00,0,34590,2016-04-06 14:17:52
13,2016-03-23 10:48:32,Audi_A3_1.6_tuning,privat,Angebot,"$1,350",control,limousine,1999,manuell,101,a3,"150,000km",11,benzin,audi,nein,2016-03-23 00:00:00,0,12043,2016-04-01 14:17:13
14,2016-03-23 11:50:46,Renault_Clio_3__Dynamique_1.2__16_V;_viele_Ver...,privat,Angebot,"$3,999",test,kleinwagen,2007,manuell,75,clio,"150,000km",9,benzin,renault,NaN,2016-03-23 00:00:00,0,81737,2016-04-01 15:46:47
15,2016-04-01 12:06:20,Corvette_C3_Coupe_T_Top_Crossfire_Injection,privat,Angebot,"$18,900",test,coupe,1982,automatik,203,NaN,"80,000km",6,benzin,sonstige_autos,nein,2016-04-01 00:00:00,0,61276,2016-04-02 21:10:48
16,2016-03-16 14:59:02,Opel_Vectra_B_Kombi,privat,Angebot,$350,test,kombi,1999,manuell,101,vectra,"150,000km",5,benzin,opel,nein,2016-03-16 00:00:00,0,57299,2016-03-18 05:29:37
17,2016-03-29 11:46:22,Volkswagen_Scirocco_2_G60,privat,Angebot,"$5,500",test,coupe,1990,manuell,205,scirocco,"150,000km",6,benzin,volkswagen,nein,2016-03-29 00:00:00,0,74821,2016-04-05 20:46:26
18,2016-03-26 19:57:44,Verkaufen_mein_bmw_e36_320_i_touring,privat,Angebot,$300,control,bus,1995,manuell,150,3er,"150,000km",0,benzin,bmw,NaN,2016-03-26 00:00:00,0,54329,2016-04-02 12:16:41
19,2016-03-17 13:36:21,mazda_tribute_2.0_mit_gas_und_tuev_neu_2018,privat,Angebot,"$4,150",control,suv,2004,manuell,124,andere,"150,000km",2,lpg,mazda,nein,2016-03-17 00:00:00,0,40878,2016-03-17 14:45:58
20,2016-03-05 19:57:31,Audi_A4_Avant_1.9_TDI_*6_Gang*AHK*Klimatronik*...,privat,Angebot,"$3,500",test,kombi,2003,manuell,131,a4,"150,000km",5,diesel,audi,NaN,2016-03-05 00:00:00,0,53913,2016-03-07 05:46:46
21,2016-03-06 19:07:10,Porsche_911_Carrera_4S_Cabrio,privat,Angebot,"$41,500",test,cabrio,2004,manuell,320,911,"150,000km",4,benzin,porsche,nein,2016-03-06 00:00:00,0,65428,2016-04-05 23:46:19
22,2016-03-28 20:50:54,MINI_Cooper_S_Cabrio,privat,Angebot,"$25,450",control,cabrio,2015,manuell,184,cooper,"10,000km",1,benzin,mini,nein,2016-03-28 00:00:00,0,44789,2016-04-01 06:45:30
23,2016-03-10 19:55:34,Peugeot_Boxer_2_2_HDi_120_Ps_9_Sitzer_inkl_Klima,privat,Angebot,"$7,999",control,bus,2010,manuell,120,NaN,"150,000km",2,diesel,peugeot,nein,2016-03-10 00:00:00,0,30900,2016-03-17 08:45:17
24,2016-04-03 11:57:02,BMW_535i_xDrive_Sport_Aut.,privat,Angebot,"$48,500",control,limousine,2014,automatik,306,5er,"30,000km",12,benzin,bmw,nein,2016-04-03 00:00:00,0,22547,2016-04-07 13:16:50
25,2016-03-21 21:56:18,Ford_escort_kombi_an_bastler_mit_ghia_ausstattung,privat,Angebot,$90,control,kombi,1996,manuell,116,NaN,"150,000km",4,benzin,ford,ja,2016-03-21 00:00:00,0,27574,2016-04-01 05:16:49
26,2016-04-03 22:46:28,Volkswagen_Polo_Fox,privat,Angebot,$777,control,kleinwagen,1992,manuell,54,polo,"125,000km",2,benzin,volkswagen,nein,2016-04-03 00:00:00,0,38110,2016-04-05 23:46:48
27,2016-03-27 18:45:01,Hat_einer_Ahnung_mit_Ford_Galaxy_HILFE,privat,Angebot,$0,control,NaN,2005,NaN,0,NaN,"150,000km",0,NaN,ford,NaN,2016-03-27 00:00:00,0,66701,2016-03-27 18:45:01
28,2016-03-19 21:56:19,MINI_Cooper_D,privat,Angebot,"$5,250",control,kleinwagen,2007,manuell,110,cooper,"150,000km",7,diesel,mini,ja,2016-03-19 00:00:00,0,15745,2016-04-07 14:58:48
29,2016-04-02 12:45:44,Mercedes_Benz_E_320_T_CDI_Avantgarde_DPF7_Sitz...,privat,Angebot,"$4,999",test,kombi,2004,automatik,204,e_klasse,"150,000km",10,diesel,mercedes_benz,nein,2016-04-02 00:00:00,0,47638,2016-04-02 12:45:44
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49970,2016-03-21 22:47:37,c4_Grand_Picasso_mit_Automatik_Leder_Navi_Temp...,privat,Angebot,"$15,800",control,bus,2010,automatik,136,c4,"60,000km",4,diesel,citroen,nein,2016-03-21 00:00:00,0,14947,2016-04-07 04:17:34
49971,2016-03-29 14:54:12,W.Lupo_1.0,privat,Angebot,$950,test,kleinwagen,2001,manuell,50,lupo,"150,000km",4,benzin,volkswagen,nein,2016-03-29 00:00:00,0,65197,2016-03-29 20:41:51
49972,2016-03-26 22:25:23,Mercedes_Benz_Vito_115_CDI_Extralang_Aut.,privat,Angebot,"$3,300",control,bus,2004,automatik,150,vito,"150,000km",10,diesel,mercedes_benz,ja,2016-03-26 00:00:00,0,65326,2016-03-28 11:28:18
49973,2016-03-27 05:32:39,Mercedes_Benz_SLK_200_Kompressor,privat,Angebot,"$6,000",control,cabrio,2004,manuell,163,slk,"150,000km",11,benzin,mercedes_benz,nein,2016-03-27 00:00:00,0,53567,2016-03-27 08:25:24
49974,2016-03-20 10:52:31,Golf_1_Cabrio_Tuev_Neu_viele_Extras_alles_eing...,privat,Angebot,$0,control,cabrio,1983,manuell,70,golf,"150,000km",2,benzin,volkswagen,nein,2016-03-20 00:00:00,0,8209,2016-03-27 19:48:16
49975,2016-03-27 20:51:39,Honda_Jazz_1.3_DSi_i_VTEC_IMA_CVT_Comfort,privat,Angebot,"$9,700",control,kleinwagen,2012,automatik,88,jazz,"100,000km",11,hybrid,honda,nein,2016-03-27 00:00:00,0,84385,2016-04-05 19:45:34
49976,2016-03-19 18:56:05,Audi_80_Avant_2.6_E__Vollausstattung!!_Einziga...,privat,Angebot,"$5,900",test,kombi,1992,automatik,150,80,"150,000km",12,benzin,audi,nein,2016-03-19 00:00:00,0,36100,2016-04-07 06:16:44
49977,2016-03-31 18:37:18,Mercedes_Benz_C200_Cdi_W203,privat,Angebot,"$5,500",control,limousine,2003,manuell,116,c_klasse,"150,000km",2,diesel,mercedes_benz,nein,2016-03-31 00:00:00,0,33739,2016-04-06 12:16:11
49978,2016-04-04 10:37:14,Mercedes_Benz_E_200_Classic,privat,Angebot,$900,control,limousine,1996,automatik,136,e_klasse,"150,000km",9,benzin,mercedes_benz,ja,2016-04-04 00:00:00,0,24405,2016-04-06 12:44:20
49979,2016-03-20 18:38:40,Volkswagen_Polo_1.6_TDI_Style,privat,Angebot,"$11,000",test,kleinwagen,2011,manuell,90,polo,"70,000km",11,diesel,volkswagen,nein,2016-03-20 00:00:00,0,48455,2016-04-07 01:45:12
49980,2016-03-12 10:55:54,Ford_Escort_Turnier_16V,privat,Angebot,$400,control,kombi,1995,manuell,105,escort,"125,000km",3,benzin,ford,NaN,2016-03-12 00:00:00,0,56218,2016-04-06 17:16:49
49981,2016-03-15 09:38:21,Opel_Astra_Kombi_mit_Anhaengerkupplung,privat,Angebot,"$2,000",control,kombi,1998,manuell,115,astra,"150,000km",12,benzin,opel,nein,2016-03-15 00:00:00,0,86859,2016-04-05 17:21:46
49982,2016-03-29 18:51:08,Skoda_Fabia_4_Tuerer_Bj:2004__85.000Tkm,privat,Angebot,"$1,950",control,kleinwagen,2004,manuell,0,fabia,"90,000km",7,benzin,skoda,NaN,2016-03-29 00:00:00,0,45884,2016-03-29 18:51:08
49983,2016-03-06 12:43:04,Ford_focus_99,privat,Angebot,$600,test,kleinwagen,1999,manuell,101,focus,"150,000km",4,benzin,ford,NaN,2016-03-06 00:00:00,0,52477,2016-03-09 06:16:08
49984,2016-03-31 22:48:48,Student_sucht_ein__Anfaengerauto___ab_2000_BJ_...,privat,Angebot,$0,test,NaN,2000,NaN,0,NaN,"150,000km",0,NaN,sonstige_autos,NaN,2016-03-31 00:00:00,0,12103,2016-04-02 19:44:53
49985,2016-04-02 16:38:23,Verkaufe_meinen_vw_vento!,privat,Angebot,"$1,000",control,NaN,1995,automatik,0,NaN,"150,000km",0,benzin,volkswagen,NaN,2016-04-02 00:00:00,0,30900,2016-04-06 15:17:52
49986,2016-04-04 20:46:02,Chrysler_300C_3.0_CRD_DPF_Automatik_Voll_Ausst...,privat,Angebot,"$15,900",control,limousine,2010,automatik,218,300c,"125,000km",11,diesel,chrysler,nein,2016-04-04 00:00:00,0,73527,2016-04-06 23:16:00
49987,2016-03-22 20:47:27,Audi_A3_Limousine_2.0_TDI_DPF_Ambition__NAVI__...,privat,Angebot,"$21,990",control,limousine,2013,manuell,150,a3,"50,000km",11,diesel,audi,nein,2016-03-22 00:00:00,0,94362,2016-03-26 22:46:06
49988,2016-03-28 19:49:51,BMW_330_Ci,privat,Angebot,"$9,550",control,coupe,2001,manuell,231,3er,"150,000km",10,benzin,bmw,nein,2016-03-28 00:00:00,0,83646,2016-04-07 02:17:40
49989,2016-03-11 19:50:37,VW_Polo_zum_Ausschlachten_oder_Wiederaufbau,privat,Angebot,$150,test,kleinwagen,1997,manuell,0,polo,"150,000km",5,benzin,volkswagen,ja,2016-03-11 00:00:00,0,21244,2016-03-12 10:17:55
49990,2016-03-21 19:54:19,Mercedes_Benz_A_200__BlueEFFICIENCY__Urban,privat,Angebot,"$17,500",test,limousine,2012,manuell,156,a_klasse,"30,000km",12,benzin,mercedes_benz,nein,2016-03-21 00:00:00,0,58239,2016-04-06 22:46:57
49991,2016-03-06 15:25:19,Kleinwagen,privat,Angebot,$500,control,NaN,2016,manuell,0,twingo,"150,000km",0,benzin,renault,NaN,2016-03-06 00:00:00,0,61350,2016-03-06 18:24:19
49992,2016-03-10 19:37:38,Fiat_Grande_Punto_1.4_T_Jet_16V_Sport,privat,Angebot,"$4,800",control,kleinwagen,2009,manuell,120,andere,"125,000km",9,lpg,fiat,nein,2016-03-10 00:00:00,0,68642,2016-03-13 01:44:51
49993,2016-03-15 18:47:35,Audi_A3__1_8l__Silber;_schoenes_Fahrzeug,privat,Angebot,"$1,650",control,kleinwagen,1997,manuell,0,NaN,"150,000km",7,benzin,audi,NaN,2016-03-15 00:00:00,0,65203,2016-04-06 19:46:53
49994,2016-03-22 17:36:42,Audi_A6__S6__Avant_4.2_quattro_eventuell_Tausc...,privat,Angebot,"$5,000",control,kombi,2001,automatik,299,a6,"150,000km",1,benzin,audi,nein,2016-03-22 00:00:00,0,46537,2016-04-06 08:16:39
49995,2016-03-27 14:38:19,Audi_Q5_3.0_TDI_qu._S_tr.__Navi__Panorama__Xenon,privat,Angebot,"$24,900",control,limousine,2011,automatik,239,q5,"100,000km",1,diesel,audi,nein,2016-03-27 00:00:00,0,82131,2016-04-01 13:47:40
49996,2016-03-28 10:50:25,Opel_Astra_F_Cabrio_Bertone_Edition___TÃœV_neu+...,privat,Angebot,"$1,980",control,cabrio,1996,manuell,75,astra,"150,000km",5,benzin,opel,nein,2016-03-28 00:00:00,0,44807,2016-04-02 14:18:02
49997,2016-04-02 14:44:48,Fiat_500_C_1.2_Dualogic_Lounge,privat,Angebot,"$13,200",test,cabrio,2014,automatik,69,500,"5,000km",11,benzin,fiat,nein,2016-04-02 00:00:00,0,73430,2016-04-04 11:47:27
49998,2016-03-08 19:25:42,Audi_A3_2.0_TDI_Sportback_Ambition,privat,Angebot,"$22,900",control,kombi,2013,manuell,150,a3,"40,000km",11,diesel,audi,nein,2016-03-08 00:00:00,0,35683,2016-04-05 16:45:07
49999,2016-03-14 00:42:12,Opel_Vectra_1.6_16V,privat,Angebot,"$1,250",control,limousine,1996,manuell,101,vectra,"150,000km",1,benzin,opel,nein,2016-03-13 00:00:00,0,45897,2016-04-06 21:18:48

In [94]:
#retrive basic info about the data I am working with
autos.info()
autos.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 20 columns):
dateCrawled            50000 non-null object
name                   50000 non-null object
seller                 50000 non-null object
offerType              50000 non-null object
price                  50000 non-null object
abtest                 50000 non-null object
vehicleType            44905 non-null object
yearOfRegistration     50000 non-null int64
gearbox                47320 non-null object
powerPS                50000 non-null int64
model                  47242 non-null object
odometer               50000 non-null object
monthOfRegistration    50000 non-null int64
fuelType               45518 non-null object
brand                  50000 non-null object
notRepairedDamage      40171 non-null object
dateCreated            50000 non-null object
nrOfPictures           50000 non-null int64
postalCode             50000 non-null int64
lastSeen               50000 non-null object
dtypes: int64(5), object(15)
memory usage: 7.6+ MB

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,odometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,2004,manuell,158,andere,"150,000km",3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,1997,automatik,286,7er,"150,000km",6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,"$8,990",test,limousine,2009,manuell,102,golf,"70,000km",7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,"$4,350",control,kleinwagen,2007,automatik,71,fortwo,"70,000km",6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÃœV_neu_ist_sehr_gepfleg...,privat,Angebot,"$1,350",test,kombi,2003,manuell,0,focus,"150,000km",7,benzin,ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50

Observation: In looking at the first few rows of the autos dataframe and the dataframe information, I can make the following observations:
1) 15 rows of the dataframe are a string and 5 rows are of integer datatype
2) There are 50,000 rows of used car info and 20 columns
3) The following columns have some null values: vehicleType, gearbox, modle, fuelType, notRepairedDamage

In [95]:
#how are the column titles formatted, change those which I don't like
header=autos.columns.copy()
header=["date_crawled","name","seller","offer_type","price","abtest","vehicle_type","registration_year","gearbox","power_ps","model","odometer","registration_month","fuel_type","brand","unrepaired_damage","ad_created","nr_of_pictures","postal_code","last_seen"]
print(header)

['date_crawled', 'name', 'seller', 'offer_type', 'price', 'abtest', 'vehicle_type', 'registration_year', 'gearbox', 'power_ps', 'model', 'odometer', 'registration_month', 'fuel_type', 'brand', 'unrepaired_damage', 'ad_created', 'nr_of_pictures', 'postal_code', 'last_seen']

In [96]:
autos.columns=header

I made some changes to the column labels by 
1) shortening some of the longer columns
2) separating words with _ to make the phrases clearer
3) changing all of labels to lowercase

In [97]:
#investigate the stats of the object or string columns
autos.describe(include=["O"])

,date_crawled,name,seller,offer_type,price,abtest,vehicle_type,gearbox,model,odometer,fuel_type,brand,unrepaired_damage,ad_created,last_seen
count,50000,50000,50000,50000,50000,50000,44905,47320,47242,50000,45518,50000,40171,50000,50000
unique,48213,38754,2,2,2357,2,8,2,245,13,7,40,2,76,39481
top,2016-03-16 21:50:53,Ford_Fiesta,privat,Angebot,$0,test,limousine,manuell,golf,"150,000km",benzin,volkswagen,nein,2016-04-03 00:00:00,2016-04-07 06:17:27
freq,3,78,49999,49999,1421,25756,12859,36993,4024,32424,30107,10687,35232,1946,8

Now, I will take a look at the data to see what other cleaning needs to be done. Are there any columns to be dropped because they do not provide valuable information? Are there integers, floats, or dates that are stored as strings? 

Here are my observations: 
*  nr_of_pictures - I can delete this column because there are only zeroes 
*  date_crawled - convert from string to date
    -  3/5/3016 - 4/7/2016
*  seller - only 2 unique values and majority are one value
*  offer_type - only 2 unique values and majority are one value
*  price - convert to integer 
    -  min price of 0
    -  max price of 99,999,999
*  abtest - only 2 unique values 
*  gearbox - only 2 unique values
*  odometer - convert to integer 
    -  min is 5,000
    -  max is 150,000
*  unrepaired_damage - only 2 unique values
*  ad_created - convert from string to date
    -  6/11/2015 - 4/7/2016
*  last_seen - convert from string to date
    - 3/5/2016 - 4/7/2016
*  year_of_registration (integer)
    -  min is 1000 (bad)
    -  max is 9999 (bad)
*  month_of_registration (integer)
    -  min is 0 (bad)
    -  max is 12 (good)

Note: times currently formatted as strings are YYYY-MM-DD HH:MM::SS
All dates took place in 2016.

In [98]:
#change the format of a few columns 
autos["price"]=autos.loc[:,"price"].str.replace("$","").str.replace(",","").astype("int")
autos["odometer"]=autos.loc[:,"odometer"].str.replace(",","").str.replace("km","").astype("int")
autos.rename({"odometer":"odometer_km"},axis=1,inplace=True)

In [99]:
#investigate the stats of the integer and float columns
autos.describe()

,price,registration_year,power_ps,odometer_km,registration_month,nr_of_pictures,postal_code
count,5.000000e+04,50000.000000,50000.000000,50000.000000,50000.000000,50000.0,50000.000000
mean,9.840044e+03,2005.073280,116.355920,125732.700000,5.723360,0.0,50813.627300
std,4.811044e+05,105.712813,209.216627,40042.211706,3.711984,0.0,25779.747957
min,0.000000e+00,1000.000000,0.000000,5000.000000,0.000000,0.0,1067.000000
25%,1.100000e+03,1999.000000,70.000000,125000.000000,3.000000,0.0,30451.000000
50%,2.950000e+03,2003.000000,105.000000,150000.000000,6.000000,0.0,49577.000000
75%,7.200000e+03,2008.000000,150.000000,150000.000000,9.000000,0.0,71540.000000
max,1.000000e+08,9999.000000,17700.000000,150000.000000,12.000000,0.0,99998.000000

In [100]:
#investigate unique values and filter out some rows with bad data 
autos["price"].unique().shape
autos["price"].value_counts().sort_index(ascending=True)
autos=autos[~autos["price"].between(0,100)]
autos=autos[~autos["price"].between(10000000,100000000)]
autos["odometer_km"].unique().shape
autos["odometer_km"].value_counts().sort_index(ascending=True)
autos=autos.drop(["nr_of_pictures"],axis=1)

In the previous step, I have removed rows with "price" between 0 and 100 and over 90,000,000 german dollars. The odometer_km values seem to be within a good range. We have now deleted 1897 rows with poor data. I also deleted the nr_of_photos column because it only contain 0s.

In [101]:
autos[['date_crawled','ad_created',"last_seen"]][0:5]

          date_crawled           ad_created            last_seen
0  2016-03-26 17:47:46  2016-03-26 00:00:00  2016-04-06 06:45:54
1  2016-04-04 13:38:56  2016-04-04 00:00:00  2016-04-06 14:45:08
2  2016-03-26 18:57:24  2016-03-26 00:00:00  2016-04-06 20:15:37
3  2016-03-12 16:58:10  2016-03-12 00:00:00  2016-03-15 03:16:28
4  2016-04-01 14:38:50  2016-04-01 00:00:00  2016-04-01 14:38:50

In [102]:
#view the number and range of dates relevant to the ad
print(autos["last_seen"].str[:10].value_counts(normalize=True, dropna=False).sort_index(ascending=True))
print(autos["ad_created"].str[:10].value_counts(normalize=True, dropna=False).sort_index(ascending=True))
print(autos["date_crawled"].str[:10].value_counts(normalize=True,dropna=False).sort_index(ascending=True))

2016-03-05    0.001081
2016-03-06    0.004304
2016-03-07    0.005385
2016-03-08    0.007298
2016-03-09    0.009564
2016-03-10    0.010645
2016-03-11    0.012413
2016-03-12    0.023827
2016-03-13    0.008878
2016-03-14    0.012621
2016-03-15    0.015823
2016-03-16    0.016425
2016-03-17    0.028069
2016-03-18    0.007319
2016-03-19    0.015760
2016-03-20    0.020667
2016-03-21    0.020563
2016-03-22    0.021374
2016-03-23    0.018588
2016-03-24    0.019711
2016-03-25    0.019108
2016-03-26    0.016696
2016-03-27    0.015511
2016-03-28    0.020813
2016-03-29    0.022330
2016-03-30    0.024638
2016-03-31    0.023848
2016-04-01    0.022871
2016-04-02    0.024867
2016-04-03    0.025137
2016-04-04    0.024513
2016-04-05    0.125187
2016-04-06    0.221952
2016-04-07    0.132215
Name: last_seen, dtype: float64
2015-06-11    0.000021
2015-08-10    0.000021
2015-09-09    0.000021
2015-11-10    0.000021
2015-12-05    0.000021
2015-12-30    0.000021
2016-01-03    0.000021
2016-01-07    0.000021
2016-01-10    0.000042
2016-01-13    0.000021
2016-01-14    0.000021
2016-01-16    0.000021
2016-01-22    0.000021
2016-01-27    0.000062
2016-01-29    0.000021
2016-02-01    0.000021
2016-02-02    0.000042
2016-02-05    0.000042
2016-02-07    0.000021
2016-02-08    0.000021
2016-02-09    0.000021
2016-02-11    0.000021
2016-02-12    0.000042
2016-02-14    0.000042
2016-02-16    0.000021
2016-02-17    0.000021
2016-02-18    0.000042
2016-02-19    0.000062
2016-02-20    0.000042
2016-02-21    0.000062
                ...
2016-03-09    0.033080
2016-03-10    0.032061
2016-03-11    0.032955
2016-03-12    0.036781
2016-03-13    0.017091
2016-03-14    0.035263
2016-03-15    0.033953
2016-03-16    0.029940
2016-03-17    0.031188
2016-03-18    0.013556
2016-03-19    0.033579
2016-03-20    0.037841
2016-03-21    0.037529
2016-03-22    0.032747
2016-03-23    0.032123
2016-03-24    0.029379
2016-03-25    0.031520
2016-03-26    0.032290
2016-03-27    0.031042
2016-03-28    0.035096
2016-03-29    0.034057
2016-03-30    0.033599
2016-03-31    0.031874
2016-04-01    0.033662
2016-04-02    0.035284
2016-04-03    0.038860
2016-04-04    0.036947
2016-04-05    0.011831
2016-04-06    0.003244
2016-04-07    0.001248
Name: ad_created, Length: 76, dtype: float64
2016-03-05    0.025387
2016-03-06    0.014055
2016-03-07    0.035949
2016-03-08    0.033225
2016-03-09    0.032997
2016-03-10    0.032352
2016-03-11    0.032643
2016-03-12    0.036947
2016-03-13    0.015719
2016-03-14    0.036635
2016-03-15    0.034223
2016-03-16    0.029441
2016-03-17    0.031520
2016-03-18    0.012870
2016-03-19    0.034722
2016-03-20    0.037758
2016-03-21    0.037300
2016-03-22    0.032934
2016-03-23    0.032290
2016-03-24    0.029441
2016-03-25    0.031396
2016-03-26    0.032227
2016-03-27    0.031125
2016-03-28    0.034993
2016-03-29    0.034098
2016-03-30    0.033787
2016-03-31    0.031832
2016-04-01    0.033683
2016-04-02    0.035595
2016-04-03    0.038610
2016-04-04    0.036593
2016-04-05    0.013099
2016-04-06    0.003160
2016-04-07    0.001393
Name: date_crawled, dtype: float64

Note: Let's explore the registration_year more heavily...
We need to filter out values less than 1900 and greater than or equal to 2018 because car models are a year ahead. For example, in 2016 there could be 2017 modeled cars on the road. Most of the cars are the website were registered between 1994 - 2012 which seems realistic.

In [103]:
autos["registration_year"].value_counts().sort_index(ascending=True)

1000       1
1001       1
1111       1
1800       2
1910       2
1927       1
1929       1
1931       1
1934       2
1937       4
1938       1
1939       1
1941       2
1943       1
1948       1
1950       1
1951       2
1952       1
1953       1
1954       2
1955       2
1956       4
1957       2
1958       4
1959       6
1960      21
1961       6
1962       4
1963       8
1964      12
        ...
2000    3079
2001    2627
2002    2475
2003    2693
2004    2699
2005    2909
2006    2669
2007    2272
2008    2209
2009    2081
2010    1587
2011    1617
2012    1308
2013     800
2014     662
2015     380
2016    1196
2017    1382
2018     468
2019       1
2800       1
4100       1
4500       1
4800       1
5000       3
5911       1
6200       1
8888       1
9000       1
9999       3
Name: registration_year, Length: 95, dtype: int64

In [104]:
#filter the data within a realistic timeframe
autos=autos[autos["registration_year"].between(1910,2017)]

In [105]:
#what percentage of the cars by registration year
autos["registration_year"].value_counts(normalize=True).sort_index(ascending=True)

1910    0.000042
1927    0.000021
1929    0.000021
1931    0.000021
1934    0.000042
1937    0.000084
1938    0.000021
1939    0.000021
1941    0.000042
1943    0.000021
1948    0.000021
1950    0.000021
1951    0.000042
1952    0.000021
1953    0.000021
1954    0.000042
1955    0.000042
1956    0.000084
1957    0.000042
1958    0.000084
1959    0.000126
1960    0.000441
1961    0.000126
1962    0.000084
1963    0.000168
1964    0.000252
1965    0.000357
1966    0.000462
1967    0.000546
1968    0.000546
          ...
1988    0.002794
1989    0.003592
1990    0.006890
1991    0.007037
1992    0.007688
1993    0.008738
1994    0.012939
1995    0.024723
1996    0.028294
1997    0.040077
1998    0.048794
1999    0.060347
2000    0.064674
2001    0.055180
2002    0.051987
2003    0.056566
2004    0.056692
2005    0.061103
2006    0.056062
2007    0.047723
2008    0.046400
2009    0.043711
2010    0.033335
2011    0.033965
2012    0.027474
2013    0.016804
2014    0.013905
2015    0.007982
2016    0.025122
2017    0.029029
Name: registration_year, Length: 79, dtype: float64

In [106]:
#What are the most popular brands? 
brand_list=autos["brand"].value_counts()
print(brand_list)
brand_list=brand_list[brand_list>1000]

volkswagen        10129
bmw                5200
opel               5132
mercedes_benz      4585
audi               4114
ford               3310
renault            2261
peugeot            1409
fiat               1224
seat                886
skoda               771
nissan              732
mazda               726
smart               684
citroen             672
toyota              609
hyundai             476
sonstige_autos      447
volvo               432
mini                416
mitsubishi          385
honda               377
kia                 340
alfa_romeo          318
porsche             279
suzuki              277
chevrolet           267
chrysler            168
dacia               128
daihatsu            118
jeep                107
land_rover           99
subaru               99
saab                 78
daewoo               73
jaguar               71
trabant              65
rover                64
lancia               53
lada                 27
Name: brand, dtype: int64

Observation: The most popular car barnd is volkswagen. Let's aggregate over brand with over 1,000 registered vehicles in our data set.

In [107]:
#what is the average price by brand for the top brands
new_dict={}

for item in brand_list.index:
    selected_rows=autos[autos["brand"]==item]
    new_avg=selected_rows["price"].sum(axis=0)/brand_list[item]
    new_dict[item]=new_avg.round(2)

new_dict

{'audi': 9295.3,
 'bmw': 8570.73,
 'fiat': 2830.92,
 'ford': 4086.41,
 'mercedes_benz': 8574.66,
 'opel': 2996.52,
 'peugeot': 3099.36,
 'renault': 2475.4,
 'volkswagen': 5596.45}

Observation: Looking at the most popular cars on eBay, the car brands with the  most expensive average price at 8,000-9,000 are audi, merdeces_benz, bmw.
The cheapest car is a "renault" with an average price of 2,375.

In [108]:
#what is the average odometer reading for these popular brands
new_dict2={}

for item in brand_list.index:
    selected_rows=autos[autos["brand"]==item]
    new_avg=selected_rows["odometer_km"].mean(axis=0)
    new_dict2[item]=new_avg.round(2)

In [109]:
new_dict2

{'audi': 129534.52,
 'bmw': 132812.5,
 'fiat': 117148.69,
 'ford': 124238.67,
 'mercedes_benz': 131223.56,
 'opel': 129471.94,
 'peugeot': 127228.53,
 'renault': 128246.35,
 'volkswagen': 129005.82}

In [110]:
#transform these dictionaries into pandas series
new_dict=pd.Series(new_dict)

In [111]:
new_dict2=pd.Series(new_dict2)

In [112]:
#let's combine the odometer and avg price info together into one dataframe

df=pd.DataFrame(new_dict,columns=['avg_price'])
df['avg_odo']=new_dict2
df.sort_values("avg_price")

               avg_price    avg_odo
renault          2475.40  128246.35
fiat             2830.92  117148.69
opel             2996.52  129471.94
peugeot          3099.36  127228.53
ford             4086.41  124238.67
volkswagen       5596.45  129005.82
bmw              8570.73  132812.50
mercedes_benz    8574.66  131223.56
audi             9295.30  129534.52

Observation: Looking at the average price and the odometer readings for the top few brands witin this dataset, you can see tht the cars that sold for the most don't necessarily have the least amount of mileage on their cars. In fact, the top three brands by price have some of the higher mileage values.

Next Step #1: Identify categorical data that uses german words, translate them and map the values to their english counterparts.

categories: 
*  seller - change privat to "private" (fixed)
*  offer_type - "Angebot" to "offer" (fixed)
*  vehicle_type - "kleinwagen" to "sedan", "kombi" to "station_wagon", "andere" to "other"
*  gearbox - change "manuell" to "manual" and "automatik" to "automatic" (fixed) 
*  fuel_type - change "elektro" to "electric" (fixed)
*  unrepaired_damage - "nein" to "no" and "ja" to "yes" (fixed)

In [113]:
autos["vehicle_type"].unique()

array(['bus', 'limousine', 'kleinwagen', 'kombi', nan, 'coupe', 'suv',
       'cabrio', 'andere'], dtype=object)

In [114]:
#change seller
autos.loc[autos.loc[:,"seller"]=="privat","seller"]="private"
#change offer_type
autos.loc[autos.loc[:,"offer_type"]=="Angebot","offer_type"]="offer"
#change gearbox
autos.loc[autos.loc[:,"gearbox"]=="manuell","gearbox"]="manual"
autos.loc[autos.loc[:,"gearbox"]=="automatik","gearbox"]="automatic"
#change fuel_type
autos.loc[autos.loc[:,"fuel_type"]=="elektro","fuel_type"]="electric"
#change unrepaired_damage
autos.loc[autos.loc[:,"unrepaired_damage"]=="nein","unrepaired_damage"]="no"
autos.loc[autos.loc[:,"unrepaired_damage"]=="ja","unrepaired_damage"]="yes"
#change vehicle type
autos.loc[autos.loc[:,"vehicle_type"]=="kleinwagen","vehicle_type"]="sedan"
autos.loc[autos.loc[:,"vehicle_type"]=="kombi","vehicle_type"]="station_wagon"
autos.loc[autos.loc[:,"vehicle_type"]=="andere","vehicle_type"]="other"

Next Step #2: Convert the dates to be uniform numeric data so that the string "2016-03-21" becomes integer 20160321. 

This will affect columns date_crawled, ad_created, last_seen.

In [115]:
#change date columns to integers in YYYYMMDD format
autos["date_crawled"]=autos["date_crawled"].str[:10].str.replace("-","").astype("int")
autos["ad_created"]=autos["ad_created"].str[:10].str.replace("-","").astype("int")
autos["last_seen"]=autos["last_seen"].str[:10].str.replace("-","").astype("int")

In [116]:
print(autos["name"])

0                         Peugeot_807_160_NAVTECH_ON_BOARD
1               BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik
2                               Volkswagen_Golf_1.6_United
3        Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...
4        Ford_Focus_1_6_Benzin_TÃœV_neu_ist_sehr_gepfleg...
5        Chrysler_Grand_Voyager_2.8_CRD_Aut.Limited_Sto...
6        VW_Golf_III_GT_Special_Electronic_Green_Metall...
7                                     Golf_IV_1.9_TDI_90PS
8                                               Seat_Arosa
9                Renault_Megane_Scenic_1.6e_RT_Klimaanlage
10                            VW_Golf_Tuning_in_siber/grau
11                              Mercedes_A140_Motorschaden
12       Smart_smart_fortwo_coupe_softouch_pure_MHD_Pan...
13                                      Audi_A3_1.6_tuning
14       Renault_Clio_3__Dynamique_1.2__16_V;_viele_Ver...
15             Corvette_C3_Coupe_T_Top_Crossfire_Injection
16                                     Opel_Vectra_B_Kombi
17                               Volkswagen_Scirocco_2_G60
18                    Verkaufen_mein_bmw_e36_320_i_touring
19             mazda_tribute_2.0_mit_gas_und_tuev_neu_2018
20       Audi_A4_Avant_1.9_TDI_*6_Gang*AHK*Klimatronik*...
21                           Porsche_911_Carrera_4S_Cabrio
22                                    MINI_Cooper_S_Cabrio
23        Peugeot_Boxer_2_2_HDi_120_Ps_9_Sitzer_inkl_Klima
24                              BMW_535i_xDrive_Sport_Aut.
26                                     Volkswagen_Polo_Fox
28                                           MINI_Cooper_D
29       Mercedes_Benz_E_320_T_CDI_Avantgarde_DPF7_Sitz...
31                               Noch_gut_erhaltenen_C_320
32                                    Corsa_mit_TÃœV_5.2016
                               ...
49968                    Mercedes_Benz_190_D_2.5_Automatik
49969               Nissan_X_Trail_2.2_dCi_4x4_Sport_m.AHZ
49970    c4_Grand_Picasso_mit_Automatik_Leder_Navi_Temp...
49971                                           W.Lupo_1.0
49972            Mercedes_Benz_Vito_115_CDI_Extralang_Aut.
49973                     Mercedes_Benz_SLK_200_Kompressor
49975            Honda_Jazz_1.3_DSi_i_VTEC_IMA_CVT_Comfort
49976    Audi_80_Avant_2.6_E__Vollausstattung!!_Einziga...
49977                          Mercedes_Benz_C200_Cdi_W203
49978                          Mercedes_Benz_E_200_Classic
49979                        Volkswagen_Polo_1.6_TDI_Style
49980                              Ford_Escort_Turnier_16V
49981               Opel_Astra_Kombi_mit_Anhaengerkupplung
49982              Skoda_Fabia_4_Tuerer_Bj:2004__85.000Tkm
49983                                        Ford_focus_99
49985                            Verkaufe_meinen_vw_vento!
49986    Chrysler_300C_3.0_CRD_DPF_Automatik_Voll_Ausst...
49987    Audi_A3_Limousine_2.0_TDI_DPF_Ambition__NAVI__...
49988                                           BMW_330_Ci
49989          VW_Polo_zum_Ausschlachten_oder_Wiederaufbau
49990           Mercedes_Benz_A_200__BlueEFFICIENCY__Urban
49991                                           Kleinwagen
49992                Fiat_Grande_Punto_1.4_T_Jet_16V_Sport
49993             Audi_A3__1_8l__Silber;_schoenes_Fahrzeug
49994    Audi_A6__S6__Avant_4.2_quattro_eventuell_Tausc...
49995     Audi_Q5_3.0_TDI_qu._S_tr.__Navi__Panorama__Xenon
49996    Opel_Astra_F_Cabrio_Bertone_Edition___TÃœV_neu+...
49997                       Fiat_500_C_1.2_Dualogic_Lounge
49998                   Audi_A3_2.0_TDI_Sportback_Ambition
49999                                  Opel_Vectra_1.6_16V
Name: name, Length: 47608, dtype: object

Next Step #3: See if there are any particular keywords in the name column that you can extract as new columns? 

I'm not sure what I would want to pull out of the name column.

Next Step #4: Find the most common brand/model combinations.

In [117]:
autos["brand_model"]=autos["brand"]+" "+autos["model"]

autos["brand_model"].value_counts().head(10)

volkswagen golf           3824
bmw 3er                   2649
volkswagen polo           1634
opel corsa                1617
opel astra                1377
volkswagen passat         1370
audi a4                   1244
mercedes_benz c_klasse    1154
bmw 5er                   1136
mercedes_benz e_klasse     965
Name: brand_model, dtype: int64

Observation: The most popular brand model combination is volkswagen golf.

Next Step #5: Split the odometer_km into groups, and use aggregation to see if average prices follow any patterns based on mileage.

In [118]:
autos["odometer_km"].value_counts().sort_index(ascending=False)

150000    30795
125000     4982
100000     2076
90000      1712
80000      1395
70000      1202
60000      1145
50000      1004
40000       811
30000       771
20000       752
10000       238
5000        725
Name: odometer_km, dtype: int64

In [119]:
#created four groups: "sub_40000", "40000_90000", "90000_125000","above_125000"
autos.loc[autos.loc[:,"odometer_km"].between(0,40000),"odom_group"]="sub_40000"
autos.loc[autos.loc[:,"odometer_km"].between(40000,90000),"odom_group"]="40000_90000"
autos.loc[autos.loc[:,"odometer_km"].between(90000,125000),"odom_group"]="90000_125000"
autos.loc[autos.loc[:,"odometer_km"]>125000,"odom_group"]="above_125000"

In [120]:
avg_by_group={}
for car in autos["odom_group"].unique():
    selected_rows=autos[autos["odom_group"]==car]
    new_avg=selected_rows["price"].mean(axis=0)
    avg_by_group[car]=new_avg.round(2)

avg_by_group

{'40000_90000': 12318.46,
 '90000_125000': 7200.81,
 'above_125000': 3875.09,
 'sub_40000': 17075.3}

In creating a few odometer categories, I can observe that there is a negative correlation between odometer reading and avg vehicle price.

In [121]:
avg_by_damage={}
for car in autos["unrepaired_damage"].unique():
    selected_rows=autos[autos["unrepaired_damage"]==car]
    avg_price=selected_rows["price"].mean(axis=0)
    avg_by_damage[car]=avg_price

avg_by_damage

{nan: nan, 'no': 7303.619607843138, 'yes': 2492.3204734765454}

Observation: In comparing vehicles with unrepaired damage and with repaired damage, I can conclude that vehicles for sale which do not have any needed repairs are about 3x more expensive than those with necessary repairs.

In [122]:
autos["date_crawled"].value_counts().sort_index()

20160305    1209
20160306     673
20160307    1716
20160308    1584
20160309    1579
20160310    1542
20160311    1556
20160312    1754
20160313     751
20160314    1735
20160315    1625
20160316    1405
20160317    1503
20160318     609
20160319    1651
20160320    1798
20160321    1772
20160322    1568
20160323    1537
20160324    1401
20160325    1495
20160326    1534
20160327    1483
20160328    1671
20160329    1628
20160330    1611
20160331    1504
20160401    1605
20160402    1692
20160403    1838
20160404    1742
20160405     621
20160406     150
20160407      66
Name: date_crawled, dtype: int64

In [123]:
#created a function that creates a dictionary aggregated average as the value with a category as the key
def new_dict(input1,input2):
    avg_dict={}
    for car in autos[input1].unique():
        selected_rows=autos[autos[input1]==car]
        avg_value=selected_rows[input2].mean(axis=0)
        avg_dict[car]=avg_value
    return avg_dict

In [124]:
#my new_dict() function results match my previous results
new_dict("unrepaired_damage","price")

{nan: nan, 'no': 7303.619607843138, 'yes': 2492.3204734765454}